<div #header class="header" *ngIf="!isMobile; else mobileHeader">
  <div class="left">
    <p-tabView (onChange)="navigateTo($event)">
      <p-tabPanel header="Home" leftIcon="pi pi-home" [disabled]="false">
      </p-tabPanel>
      <p-tabPanel header="Game Quiz" leftIcon="pi pi-question-circle">
      </p-tabPanel>
      <p-tabPanel header="Mood History" leftIcon="pi pi-calendar"> </p-tabPanel>
      <p-tabPanel header="Your Diary" leftIcon="pi pi-book"></p-tabPanel>
    </p-tabView>
  </div>

  <div #anchor class="right">
    <p-tabView
      [(activeIndex)]="overlayIndex"
      (onChange)="toggleOverlay($event, op, anchor)"
    >
      <p-tabPanel header="Account" leftIcon="pi pi-user"> </p-tabPanel>
      <p-tabPanel headerStyleClass="d-none"> </p-tabPanel>
      <p-toast></p-toast>
      <p-confirmDialog></p-confirmDialog>
    </p-tabView>
  </div>
</div>

<p-overlayPanel styleClass="position" #op (onHide)="handleOnHide()">
  <div class="vertical-layout">
    <p>{{ userInfo }}</p>
    <p-button
      *ngIf="isLoggedin"
      (click)="logout($event)"
      label="Logout"
      icon="pi pi-sign-out"
      [rounded]="true"
    ></p-button>
  </div>
</p-overlayPanel>

<ng-template #mobileHeader>
  <div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <button
      pButton
      type="button"
      (click)="menu.toggle($event)"
      icon="pi pi-bars"
    ></button>
  </div>
</ng-template>
