<div #header class="header" >
  <div class="left">
    <p-tabView (onChange)="navigateTo($event)">
      <p-tabPanel header="Home" leftIcon="pi pi-home" [disabled]="false">
      </p-tabPanel>
      <p-tabPanel header="Game Quiz" leftIcon="pi pi-question-circle">
      </p-tabPanel>
      <p-tabPanel header="Mood History" leftIcon="pi pi-calendar"> </p-tabPanel>
      <p-tabPanel header="Your Diary" leftIcon="pi pi-book"></p-tabPanel>
    </p-tabView>
  </div>
  
  <div #anchor class="right">
    <p-tabView 
    [(activeIndex)]="overlayIndex"
    (onChange)="toggleOverlay($event, op, anchor)"
  >
    <p-tabPanel header="Account" leftIcon="pi pi-user"> </p-tabPanel>
    <p-tabPanel headerStyleClass="d-none"> </p-tabPanel>
  </p-tabView>
  </div>
</div>

<p-overlayPanel styleClass="position"  #op (onHide)="handleOnHide()">
  <div class="vertical-layout">
    <p>{{ userInfo }}</p>
    <p-button
      *ngIf="isLoggedin"
      (click)="logout($event)"
      label="Logout"
      icon="pi pi-sign-out"
      [rounded]="true"
      styleClass="p-button-text"
    ></p-button>
    <p-confirmPopup></p-confirmPopup>
  </div>
</p-overlayPanel>
