<div class="header">
  <div class="left">
    <p-button
      label="Home"
      icon="pi pi-home"
      styleClass="p-button-text"
      (onClick)="navigateToHome()"
    ></p-button>
    <p-button
      label="Quiz"
      icon="pi pi-question-circle"
      styleClass="p-button-text"
      (onClick)="navigateToQuiz()"
    ></p-button>
    <p-button
      label="Mood History"
      icon="pi pi-calendar"
      styleClass="p-button-text"
      (onClick)="navigateToMoodHistory()"
    ></p-button>
    <p-button
      label="Your Dairy"
      icon="pi pi-book"
      styleClass="p-button-text"
      (onClick)="navigateToDairy()"
    ></p-button>
  </div>
  <div class="right">
    <p-button
      label="Account"
      icon="pi pi-user"
      styleClass="p-button-text"
      (click)="op.toggle($event)"
    ></p-button>
  </div>
</div>

<p-overlayPanel #op>
  <div class="vertical-layout">
    <p-button
      *ngIf="!isLoggedin"
      [routerLink]="['/login']"
      label="Login"
      icon="pi pi-sign-in"
      styleClass="p-button-text"
      [style]="{ 'background-color': '#FFA69E' }"
    ></p-button>
    <p> {{ userInfo }} </p>
    <p-button
      *ngIf="isLoggedin"
      (onClick)="logout()"
      label="Logout"
      icon="pi pi-sign-out"
      styleClass="p-button-text"
      [style]="{ 'background-color': '#FFA69E' }"
    ></p-button>
  </div>
</p-overlayPanel>
