:host ::ng-deep.p-card {
    background-color: #DDFFF7;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
}