.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.button {
    margin-top: 2%;
}

.list-of-thoughts {
    text-align: left;
    margin: 10%;
}