<div class="card row">
  <div class="diary-quote col-md-8 col-sm-6">
    <p-card><h3>"People who keep journals have life twice."</h3>
      <p>Jessamyn West</p></p-card>
    
  </div>
  <textarea
    class="dairy"
    rows="15"
    cols="1"
    pInputTextarea
    [(ngModel)]="value"
  ></textarea>
  <div class="button">
    <p-button
      (click)="onSaveDairy()"
      class="dairy-button"
      type="button"
      label="SAVE YOUR THOUGHTS"
      [rounded]="true"
      [loading]="isLoading"
      
    ></p-button>
  </div>
  <div class="list-of-thoughts" >
    <h3>Want to unraveled what you thought before?</h3>
    <hr color="#ff66b3">
    <ul *ngFor="let entry of entries">
      <li><p-fieldset legend={{entry.dateCreated}} [toggleable]="true" [collapsed]="true">
        <p>{{entry.text}}</p>
    </p-fieldset></li>
    </ul>
  </div>
</div>
