<div class="container">
  <div class="row w-100">
    <div class="container col-md-6 col-sm-12">
      <form [formGroup]="loginForm" class="form-login" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            pInputText
            formControlName="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            class="ng-touched ng-invalid"
          />
          <div *ngIf="email.invalid && email.touched">
            <p-message severity="error" text="Please enter a valid email.">
            </p-message>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            pInputText
            formControlName="password"
            class="ng-touched ng-invalid"
            id="password"
            name="password"
            placeholder="Enter password"
          />
          <div *ngIf="password.invalid && password.touched">
            <p-message severity="error" text="Password is not correct.">
            </p-message>
          </div>
        </div>
        <p-toast position="top-center"></p-toast>
        <p-button
          class="login-button"
          type="submit"
          label="Login"
          icon="pi pi-user"
          [rounded]="true"
          [disabled]="!loginForm.valid"
          [loading]="isLoading"
        ></p-button>
      </form>
    </div>
    <div class="divider col-md-1 col-sm-12">
      <p-divider
        layout="vertical"
        class="d-none d-md-block"
      >
        <b>OR</b></p-divider
      >
      <p-divider
        class="d-block d-md-none"
        layout="horizontal"
        [align]="'center'"
      >
        <b>OR</b></p-divider
      >
    </div>
    <div class="container col-md-5 col-sm-12">
      <p-button
      (click)="onRegister()"
        class="register-button"
        type="submit"
        label="Register"
        icon="pi pi-user"
        [rounded]="true"
      ></p-button>
    </div>
  </div>
</div>
