<div class="trivia-question" *ngIf="question">
  <h3>{{ question.question }}</h3>
  <div>
    <div
      *ngFor="let answer of allAnswers; let i = index"
      class="field-checkbox"
    >
      <p-radioButton
        class="trivia-button"
        [inputId]="i.toString()"
        name="answer"
        (onClick)="handleSelectedAnswer(answer)"
        [(ngModel)]="selection"
        [value]="answer"
      >
      </p-radioButton>
      <label [for]="i.toString()"> {{ answer }} </label>
    </div>
  </div>
</div>
