.card {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.image{
    width: 70%;
    height: 100%;
    margin-left: 20%
}

.text{
    padding: 3%;
    border:5px solid #b2ffd8;
    border-radius: 25px;  
}

.calendar{
    margin-top: 3%;
}
