<div class="container">
  <p-card class="card" header="Bring Positivity To Your Day">
    <div class="button">
      <p-button
        (click)="onGetQuote()"
        class="joke-button"
        type="button"
        label="GET QUOTE"
        [rounded]="true"
        [loading]="isLoading"
        *ngIf="!(!isLoading && quote !== '')"
      ></p-button>
      <p>{{ quote }}</p>
    </div>
    <hr color="#ff66b3" />
    <h3 style="text-align: center;">Your inspirational quotes:</h3>
    <div class="list-of-quotes">
      <p-dataView [value]="quotes" [rows]="5" [paginator]="true" >
        <ng-template let-quote pTemplate="listItem">
            <p>{{ quote.content }}</p>
        </ng-template>
      </p-dataView>  
    </div>
  </p-card>
</div>
