<p-card 
    class="card"
    [header]="questions ? '' : 'How Are You Feeling?'"
    subheader="Check your mood!"
  >
    <p-button
      (click)="getQuestions()"
      class="quiz-button"
      type="button"
      label="START QUIZ"
      [rounded]="true"
      [loading]="isLoading"
      *ngIf="!(!isLoading && questions!)"
    >
    </p-button>
    <p-dialog [(visible)]="visible" [modal]="true">
    <div class="questions" *ngIf="questions && !isFinished">
      <div *ngFor="let question of questions.questionList; let i = index">
        <question
          *ngIf="currentQuestion === i + 1"
          [question]="question"
          [questionNumber]="currentQuestion"
          (selectedAnswer)="handleAnswerSelected(question, $event)"
        ></question>
      </div>
      <br>
      <p-button
        *ngIf="currentQuestion < questions.questionList.length"
        [disabled]="!isClicked"
        label="NEXT QUESTION"
        [rounded]="true"
        (click)="nextQuestion()"
      >
      </p-button>
      <p-button
        *ngIf="currentQuestion == questions.questionList.length"
        (click)="showResult()"
        label="FIND OUT RESULT"
        [rounded]="true"
      >
      </p-button>
    </div>
    <div class="result" *ngIf="isFinished">
      <h3>{{ moodType }}</h3>
      <p>{{ moodText }}</p>
      <br />
      <h4>Do you want to save your result in mood history calendar?</h4>
      <div class="buttons"><p-button
        (click)="saveMood()"
        class="quiz-button"
        type="button"
        label="YES"
        [rounded]="true"
      ></p-button>
      <p-button
        (click)="noSaveMood()"
        class="quiz-button"
        type="button"
        label="NO"
        [rounded]="true"
      ></p-button></div>
    </div>
  </p-dialog>
  </p-card>
