.vertical-layout{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


