.row {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;
}

.joke {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    width: 40%;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    width: 40%;
}