<div class="container">
  <div class="row w-100">
    <div class="col-md-6 col-sm-12">
      <img
        class="first-image mx-auto"
        src="assets/images/happy_people.jpg"
        alt="Happy People"
      />
    </div>
    <div class="col-md-6 col-sm-12 my-auto mx-auto">
      <div class="col-md-8 my-auto mx-auto">
        <jokes></jokes>
      </div>
    </div>
  </div>
  <hr color="#ff66b3" />
  <div class="row w-100">
    <div class="quote col-md-8 col-sm-12 mx-auto">
      <quotes></quotes>
    </div>
  </div>
  <hr color="#ff66b3" />
  <div class="row w-100">
    <div class="first-row-content col-md-6 col-sm-12 my-auto mx-auto">
      <div class="col-md-8 col-sm-10 mx-auto">
        <mood-quiz></mood-quiz>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mx-auto">
      <img
        class="second-image"
        src="assets/images/mood-quiz.jpg"
        alt="Mood Quiz"
      />
    </div>
  </div>
  <hr color="#ff66b3" />
  <div class="row w-100">
    <div class="activity col-md-10 col-sm-12 mx-auto">
      <activity></activity>
    </div>
  </div>
  <hr color="#ff66b3" />
</div>
