<div class="container">
  <div class="row w-100">
    <div class="col-md-6 col-sm-8">
      <img
        class="first-image"
        src="assets/images/happy_people.jpg"
        alt="Happy People"
      />
    </div>
    <div class="col-md-6 col-sm-4 my-auto">
      <div class="col-md-8 my-auto mx-auto h-50">
        <jokes></jokes>
      </div>
    </div>
  </div>
  <hr color="#ff66b3">
  <div class="row w-100">
    <div class="quote col-md-8 col-sm-8 mx-auto">
      <quotes></quotes>
    </div>
  </div>
  <hr color="#ff66b3">
  <div class="row w-100">
    <div class="first-row-content col-md-6 col-sm-4 my-auto">
      <div class="col-md-8 col-sm-8 mx-auto">
        <mood-quiz></mood-quiz>
      </div>
    </div>
    <div class="col-md-6 col-sm-8">
      <img
        class="second-image"
        src="assets/images/mood-quiz.jpg"
        alt="Mood Quiz"
      />
    </div>
  </div>
  <hr color="#ff66b3">
  <div class="row w-100">
    <div class="activity">
      <activity></activity>
    </div>
  </div>
  <hr color="#ff66b3">
</div>
