<div class="container col-md-6 col-sm-3 col-lg-4">
  <p-card class="card" header="Register">
    <form [formGroup]="registerForm" class="register" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="p-inputtext-sm ng-touched ng-invalid"
          id="email"
          name="email"
          maxlength="50"
          autocomplete="email"
        />
      </div>
      <div *ngIf="email.invalid && email.touched">
        <p-message
          severity="error"
          text="Please enter a valid email. For example: test@test.com"
        >
        </p-message>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="p-inputtext-sm ng-touched ng-invalid"
          id="password"
          name="password"
          maxlength="50"
          autocomplete="current-password"
        />
      </div>
      <div *ngIf="password.invalid && password.touched">
        <p-message severity="error" text="You need to enter a password.">
        </p-message>
      </div>
      <div *ngIf="password.touched && password.value.length < 8">
        <p-message
          severity="error"
          text="Password has to have a minimum of 8 characters."
        >
        </p-message>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="p-inputtext-sm ng-touched ng-invalid"
          id="confirmPassword"
          name="confirmPassword"
          maxlength="50"
          autocomplete="current-password"
        />
      </div>
      <div *ngIf="passwordsDoNotMatch">
        <p-message severity="error" text="Passwords do not match."> </p-message>
      </div>

      <br />

      <div class="form-group">
        <label>First name</label>
        <input
          type="firstName"
          pInputText
          formControlName="firstName"
          class="p-inputtext-sm ng-touched ng-invalid"
          id="firstName"
          name="firstName"
          maxlength="50"
          autocomplete="username"
        />
      </div>
      <div *ngIf="firstName.touched && !firstName.value">
        <p-message severity="error" text="Please enter your first name.">
        </p-message>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input
          type="lastName"
          pInputText
          formControlName="lastName"
          class="p-inputtext-sm ng-touched ng-invalid"
          id="lastName"
          name="lastName"
          maxlength="50"
          autocomplete="family-name"
        />
      </div>
      <div *ngIf="lastName.touched && !lastName.value">
        <p-message severity="error" text="Please enter your last name.">
        </p-message>
      </div>

      <br />

      <div class="confirm">
        <p-button
          (click)="onRegister()"
          class="register-button"
          type="button"
          label="Register"
          icon="pi pi-key"
          [rounded]="true"
          [disabled]="!registerForm.valid"
          [loading]="isLoading"
        ></p-button>
        <div *ngIf="registrationFailed == true">
          <p-message
            severity="error"
            text="Something went wrong! Please try to register again."
          >
          </p-message>
        </div>

        <br />

        <div><a [routerLink]="'/login'">Return to login</a></div>
      </div>
    </form>
  </p-card>
</div>
